@charset "UTF-8";

input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(19, 176, 32);
  }

button {
    background-color: rgb(19, 176, 32);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  .tabela {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }